---
tap:
  credentials:

    #! Used in Let's Encrypt certificate issuance
    #! email: user@example.com

    #! ref: https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/1.2/tap/GUID-scst-store-create-service-account-access-token.html#ro-serv-accts
    #! NOTE: You need to deploy TAP first, then create a service account, before you can fetch this token. If this is your first TAP deployment, 
    #! you can safely ignore this value
    #! metadata_svc_account_token: DNE

    #! Registry for downloading TAP images. You need to relocate the TAP images
    #! from TanzuNet to your private container registry. All of these configs
    #! are for your registry, NOT TanzuNet.
    #! See the TAP docs for help on relocating images.
    registry:
      host: 
      #! Where TAP Packages live
      repo:
      #! Where TBS deps live
      tbs_deps_repo: 
      #! Where Tanzu Data SQL packages live
      tds_repo:
      username: 
      password: 

      #! For Build Service
      repositories:
        build_service: tap/build-service
        ootb_supply_chain: tap/supply-chain
        
    #! Maven repo creds
    #! See this post: https://apps-cloudmgmt.techzone.vmware.com/resource/setup-and-configure-google-artifact-registry-tanzu-application-platform-build-source-maven#step-2---deploy-the-maven-workload
    maven:
      url: https://us-east4-maven.pkg.dev/mosher-workspace/tap-maven
      secret_name: maven-credentials     

    #! Uncomment to enable GitHub integration for auth:
    #! - set clientId and clientSecret to enable authentication,
    #! - set token to download resources from GitHub (such as Backstage catalogs).
    #!
    #!github:
    #!  clientId: INSERT-GITHUB-CLIENTID
    #!  clientSecret: INSERT-GITHUB-CLIENTSECRET
    #!  token: INSERT-GITHUB-TOKEN
    
    #! Uncomment to use Gitlab integration for user auth
    #!gitlab:
    #!  clientId: INSERT-GITHUB-CLIENTID
    #!  clientSecret: INSERT-GITHUB-CLIENTSECRET

    #! Uncomment to use Okta integration for user auth.
    #!okta:
    #!  clientId: 
    #!  clientSecret: 
    #!  audience: 

    #! ---------- Additional configuration beyond basic TAP installation ----------

    #! DNS Providers for external-dns
    #! external_dns:
    #!  aws:
    #!    region: 
    #!    credentials: #! Note internal VMware users: CloudGate credentials will not have the necessary permissions to work
    #!      access_key: 
    #!      secret_key: 
    #!    route_fifty_three_zone_id: 

    #!  cloudflare:
    #!    credentials:
    #!      apiToken:

    #!  google:   
    #!    project: 
    #!    key_json: 
        